
@{
    ViewData["Title"] = "Index";
}

<h2>Content Results</h2>

<p>ASP.NET Core can return many different kinds of site content, including views and view components.  Here's a few examples of these kinds of results:</p>

<ul>
    <li><a asp-action="PartialViewResult">PartialViewResult</a>: returns a partial view.  If you click this link you will see the view's content but be missing the page styles and layout.</li>
    <li><a asp-action="JsonResult">JsonResult</a>: returns a JSON object.  This can convert any class or anonymous object to JSON.</li>
    <li><a asp-action="ContentResult">ContentResult</a>: returns raw content to the requester.  This is often used for dynamic content, like in single-page applications.</li>
</ul>