
@{
    ViewData["Title"] = "Index";
}

<h2>Redirect Results</h2>

<p>Several of the results in ASP.NET Core perform redirects, which take the user to a different URL, either within the app or outside of it.</p>

<ul>
    <li><a asp-action="EmptyResult">EmptyResult</a>, which will return a blank response.</li>
    <li><a asp-action="LocalRedirectResult">LocalRedirectResult</a>, which will redirect to a local URL (e.g. "/home/index").</li>
    <li><a asp-action="RedirectResult">RedirectResult</a>, which will redirect to any specified URL.  This what is used for external links.  This particular link goes to my blog.</li>
    <li><a asp-action="RedirectToActionResult">RedirectToActionResult</a>, which will redirect to the passed-in action and controller.</li>
    <li><a asp-action="RedirectToRouteResult">RedirectToRouteResult</a>, which will redirect to a particular route.</li>
</ul>