
@{
    ViewData["Title"] = "Target";
}

<h2>Target Page</h2>

<p>All actions in the Redirects section will point at this page, but how they get here differs. <a asp-action="index">Return to the Section Index.</a></p>